<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      New Transaction
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" (ngSubmit)="save()">

    <div>
      <ion-segment formControlName="type" (ionChange)="changeTransactionType()">
          <ion-segment-button value="withdrawal">Withdrawal</ion-segment-button>
          <ion-segment-button value="transfer">Transfer</ion-segment-button>
          <ion-segment-button value="deposit">Deposit</ion-segment-button>
      </ion-segment>
    </div>

    <ion-item>
      <ion-label color="primary" stacked>Description*</ion-label>
      <ion-input placeholder="Description" formControlName="description"></ion-input>
    </ion-item>

    <ion-item *ngIf="form.value.type === 'withdrawal' || form.value.type === 'transfer'">
      <ion-label stacked color="primary">Source Account</ion-label>
      <ion-select formControlName="source" interface="action-sheet" (ionChange)="changeCurrencyCode('source')"  [disabled]="form.value.type === 'deposit'">
          <ion-option *ngFor="let account of assetAccounts" [value]="account.id">{{ account.name }} | {{ account.currentBalance }} | ({{account.currencyCode}})</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="form.value.type === 'deposit' || form.value.type === 'transfer'">
      <ion-label stacked color="primary">Destination Account</ion-label>
      <ion-select formControlName="destination" interface="action-sheet" (ionChange)="changeCurrencyCode('destination')" [disabled]="form.value.type === 'withdrawal'">
          <ion-option *ngFor="let account of assetAccounts" [value]="account.id">{{ account.name }} | {{ account.currentBalance }} | ({{account.currencyCode}})</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="form.value.type === 'withdrawal'">
      <ion-label stacked color="primary">Expense Account</ion-label>
      <ion-select formControlName="destination" interface="action-sheet"  [disabled]="form.value.type === 'deposit'">
          <ion-option *ngFor="let account of expenseAccounts" [value]="account.id">{{ account.name }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="form.value.type === 'deposit'">
      <ion-label stacked color="primary">Revenue Account</ion-label>
      <ion-select formControlName="source" interface="action-sheet" [disabled]="form.value.type === 'withdrawal'">
          <ion-option *ngFor="let account of revenueAccounts" [value]="account.id">{{ account.name }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked color="primary">Category*</ion-label>
      <ion-select formControlName="category_id" interface="action-sheet">
          <ion-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="form.value.type === 'transfer'">
      <ion-label stacked color="primary">Piggy Bank</ion-label>
      <ion-select formControlName="piggy_bank_id" interface="action-sheet" [disabled]="form.value.type !== 'transfer'">
          <ion-option *ngFor="let piggy of piggyBanks" [value]="piggy.id">{{ piggy.name }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Currency Code*</ion-label>
      <ion-input placeholder="" formControlName="currency_code"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Amount*</ion-label>
      <ion-input placeholder="Amount" formControlName="amount"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Date*</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" formControlName="date"></ion-datetime>
    </ion-item>

    <ion-item>
      <button ion-button type="submit" color="primary">Save</button>
    </ion-item>

  </form>
</ion-content>
