<ion-header>
    <ion-navbar color="primary">
        <ion-row>
            <ion-title>Piggy Bank - {{ piggy.name }}</ion-title>
            <ion-col text-right>
                <span (click)="edit(piggy)">
                    <ion-title><ion-icon name="create"></ion-icon></ion-title>
                </span>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content class="outer-content">
    <ion-card>
        <ion-card-header>
            Progress for {{ piggy.name }}
        </ion-card-header>
        <ion-card-content>
            <canvas #progressChart></canvas>
            <ion-item text-center>Amount to save per month: {{ piggy.savePerMonth | currency: piggy.currencySymbol }}</ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="!editMode">
        <ion-card-header>
            Details 
            
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-row>
                        <ion-col col-4>
                            Name:
                        </ion-col>
                        <ion-col col-8 class="right-align-number">
                            {{ piggy.name }}
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item>
                    <ion-row>
                        <ion-col col-4>
                            Target Amount:
                        </ion-col>
                        <ion-col col-8 class="right-align-number">
                            {{ piggy.targetAmount | currency: piggy.currencySymbol }}
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item>
                    <ion-row>
                        <ion-col col-4>
                            Current Amount:
                        </ion-col>
                        <ion-col col-8 class="right-align-number">
                            {{ piggy.currentAmount | currency: piggy.currencySymbol }}
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item>
                    <ion-row>
                        <ion-col col-4>
                            Left to Save:
                        </ion-col>
                        <ion-col col-8 text-right>
                            {{ piggy.leftToSave | currency: piggy.currencySymbol }}
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item>
                    <ion-row>
                        <ion-col col-4>
                            Saved per Month:
                        </ion-col>
                        <ion-col col-8 text-right>
                            {{ piggy.savePerMonth | currency: piggy.currencySymbol }}
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item>
                    <ion-row>
                        <ion-col col-4>
                            Target Date:
                        </ion-col>
                        <ion-col col-8 text-right>
                            {{ piggy.targetDate | date: 'yyyy-MM-dd' }}
                        </ion-col>
                    </ion-row>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="editMode">
            <ion-card-header>
                Edit {{ piggy.name }}
                <button text-right (click)="exitEdit()"><ion-icon name="close"></ion-icon></button>
            </ion-card-header>
            <ion-card-content>
                <form [formGroup]="form" (ngSubmit)="save()">
                    <ion-list>

                        <ion-item>
                            <ion-label color="primary" stacked>Name*</ion-label>
                            <ion-input placeholder="Name" formControlName="name"></ion-input>
                        </ion-item>
                            
                        <ion-item>
                            <ion-label color="primary" stacked>Target Amount*</ion-label>
                            <ion-input placeholder="Target Amount" formControlName="targetAmount"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label color="primary" stacked>Target Date*</ion-label>
                            <ion-datetime displayFormat="YYYY-MM-DD" formControlName="targetDate"></ion-datetime>
                        </ion-item>

                        <ion-item-divider></ion-item-divider> 
                        <ion-row>
                            <ion-col col6>
                                <button ion-button icon-start clear type="button" (click)="exitEdit()">
                                    <ion-icon name="close"></ion-icon>
                                    Cancel
                                </button> 
                            </ion-col>
                            <ion-col col-6 text-right>                        
                                <button ion-button icon-start color="primary" type="submit">
                                    <ion-icon name="save"></ion-icon>
                                    Save
                                </button>
                            </ion-col>
                        </ion-row> 
                    </ion-list> 
                </form>
            </ion-card-content>
        </ion-card>
</ion-content>