<ion-header>
  <ion-navbar color="primary">
    <ion-title>Bills</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-list-header>
      Last Updated: {{ billList.lastUpdated | date: 'dd MMM HH:mm' }}
    </ion-list-header>
    <ion-item-group *ngFor="let dueDate of billList.dueDates">
      <ion-item-divider color="secondary">{{ dueDate | date: 'yyyy/MM/dd' }}</ion-item-divider>

      <button *ngFor="let bill of billList.groupedBills[dueDate]" color="light" ion-item (click)="showBillDetails(bill)">
        <ion-row>
          <ion-col col-9>{{bill.name}}</ion-col>
          <ion-col col-3 class="right-align-number">{{bill.amountMax | currency: bill.currencyCode}}</ion-col>
        </ion-row>
      </button>
      
    </ion-item-group>
  </ion-list>

</ion-content>