<ion-header >
  <ion-toolbar color="primary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>
      Settings
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <ion-card>
    <ion-card-header>
      Client Authentication
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="save()">

      <ion-item>
        <ion-label> Authentication Method:</ion-label>
        <ion-select formControlName="authType" interface="action-sheet">
          <ion-option value="oauth">OAUTH2</ion-option>
          <ion-option value="pat">PAT</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked>Server Url</ion-label>
        <ion-input placeholder="Url" formControlName="serverUrl"></ion-input>
      </ion-item>

      <ion-item *ngIf="form.value.authType === 'oauth'">
        <ion-label color="primary" stacked>Client Id</ion-label>
        <ion-input placeholder="Client Id" formControlName="client_id" [disabled]="form.value.authType !== 'oauth'"></ion-input>
      </ion-item>

      <ion-item *ngIf="form.value.authType === 'oauth'">
        <ion-label color="primary" stacked>Client Secret</ion-label>
        <ion-input placeholder="Client Secret" formControlName="client_secret" [disabled]="form.value.authType !== 'oauth'"></ion-input>
      </ion-item>

      <ion-item *ngIf="form.value.authType === 'pat'">
        <ion-label color="primary" stacked>PAT Token</ion-label>
        <ion-input placeholder="Token" formControlName="pat" [disabled]="form.value.authType !== 'pat'"></ion-input>
      </ion-item>

      <ion-item-divider></ion-item-divider>

      <ion-row>
        <ion-col col-12 text-right>
          <button ion-button icon-start type="submit" color="primary">
            <ion-icon name="save"></ion-icon>
            Save
          </button>
      </ion-col>
      </ion-row>

    </form>
    </ion-card-content>
  </ion-card>
  
</ion-content>
