<ion-header>
  <ion-navbar color="primary">
    <ion-title>Accounts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-group *ngFor="let type of accountTypes">
      <ion-item-divider color="secondary">
        <ion-row>
          <ion-col col-9 text-capitalize>{{ type }}</ion-col>
          <ion-col col-3 class="right-align-number">{{ getSubgroupTotal(type) | currency}}</ion-col>
        </ion-row>
      </ion-item-divider>
    
      <ion-item *ngFor="let account of orderedAccounts[type]" color="light">
        <ion-row>
          <ion-col col-9>{{account.attributes.name}}</ion-col>
          <ion-col col-3 class="right-align-number">{{account.attributes.current_balance | currency}}</ion-col>
        </ion-row>
      </ion-item>

    </ion-item-group>
  </ion-list>

</ion-content>
