<ion-header>
  <ion-navbar color="primary">
    <ion-title>Accounts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-list-header>
      Last Updated: {{ accountList.lastUpdated | date: 'dd MMM HH:mm' }}
    </ion-list-header>
    <ion-item-group *ngFor="let type of this.accountList.accountTypes">
      <ion-item-divider color="secondary">
        <ion-row>
          <ion-col col-9 text-capitalize>{{ type }}</ion-col>
          <ion-col col-3 class="right-align-number">{{ this.accountList.getSubgroupTotal(type) | currency}}</ion-col>
        </ion-row>
      </ion-item-divider>
    
      <button *ngFor="let account of this.accountList.groupedAccounts[type]" color="light" ion-item (click)="showAccountDetails(account)">
        <ion-row>
          <ion-col col-7>{{account.attributes.name}}</ion-col>
          <ion-col col-5 class="right-align-number">{{account.attributes.current_balance | currency: account.attributes.currency_code}} {{account.attributes.currency_code}}</ion-col>
        </ion-row>
      </button>

    </ion-item-group>
  </ion-list>

</ion-content>
